<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;}
div.bibtex pre {font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap"></div>
    {{ content }}

You can also browse my <a href="https://scholar.google.com/citations?user=ZEtKYf8AAAAJ" target="_blank">Google Scholar profile</a>. 

<h4 style="margin-bottom:0px;padding-top:10px;">2021</h4>
<ul class="biblist">
    


<!-- Item: Dupan2021 -->
<li >
  <p> Dupan S, McNeill Z, Sarda E, Brunton E, Nazarpour K<br>
  <b>How fast is too fast? Boundaries to the perception of electrical stimulation of peripheral nerves</b><br>
  <i>Journal of Neural Engineering</i>, 2021, in prep.<br/>
  <a href="javascript:toggleBibtex('Dupan2021')">[BibTeX]</a>
  <a href="https://doi.org/" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Dupan2021" class="bibtex noshow">
<pre>@Article{Dupan2021,
author = {S. Dupan and Z. McNeill and E. Sarda and E. Brunton and K. Nazarpour},
title = {How fast is too fast? Boundaries to the perception of electrical stimulation of peripheral nerves},
journal = {Journal of Neural Engineering},
volume = {},
number = {},
pages = {},
year = {2021},
note = {in prep}
}</pre>
</div></li>

<!-- Item: Jones2021 -->
<li >
  <p> Jones H, Dupan S, Coutinho M, Day S, Desmond D, Donovan-Hall M, Ekins-Coward T, Kenney L, Krasoulis A, McIntosh D, Memarzadeh K, Small E, Wheeler G, Nazarpour K<br>
  <b>Co-creation facilitates translational research on upper limb prosthetics</b><br>
  <i>BMJ Open</i>, 2021, submitted.<br/>
  <a href="javascript:toggleBibtex('Jones2021')">[BibTeX]</a>
  <a href="https://doi.org/" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Jones2021" class="bibtex noshow">
<pre>@Article{Jones2021,
author = {H. Jones and S. Dupan and M. Coutinho and S. Day and D. Desmond and M. Donovan-Halland T. Ekins-Coward and L. Kenney and A. Krasoulis and D. McIntosh and K. Memarzadeh and E. Small and G. Wheeler and K. Nazarpour},
title = {Co-creation facilitates translational research on upper limb prosthetics},
journal = {BMJ Open},
volume = {},
number = {},
pages = {},
year = {2021},
note = {submitted}
}</pre>
</div></li>

<!-- Item: Olsen2021 -->
<li >
  <p> Olsen J, Day S, Dupan S, Nazarpour K, Dyson M
  <br><b>3D-Printing and upper-limb prosthetic sockets; promises and pitfalls</b><br>
  <i>IEEE Transactions on Neural Systems and Rehabilitation Engineering</i>, 2021, submitted.<br/>
  <a href="javascript:toggleBibtex('Olsen2021')">[BibTeX]</a>
  <a href="https://doi.org/" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Olsen2021" class="bibtex noshow">
<pre>@Article{Olsen2021,
author = {J. Olsen and S. Day and S. Dupan and K. Nazarpour and M. Dyson},
title = {3D-Printing and upper-limb prosthetic sockets; promises and pitfalls},
journal = {IEEE Transactions on Neural Systems and Rehabilitation Engineering},
volume = {},
number = {},
pages = {},
year = {2021},
note = {submitted}
}</pre>
</div></li>

<!-- Item: Mehri2021 -->
<li >
  <p> Mehri R, Abbasi A, Abbasi S, Khaleghi Tazji M, Nazarpour K
  <br><b>Intra-segment coordination variability during pedaling at different intensities in road cyclists</b><br>
  <i>Applied Sciences</i>, 2021, in press.<br/>
  <a href="javascript:toggleBibtex('Mehri2021')">[BibTeX]</a>
  <a href="https://doi.org/" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Mehri2021" class="bibtex noshow">
<pre>@Article{GMehri2021,
author = {R. Mehri and A. Abbasi and S. Abbasi and M. Khaleghi Tazji and K. Nazarpour},
title = {Intra-segment coordination variability during pedaling at different intensities in road cyclists},
journal = {Applied Sciences},
volume = {},
number = {},
pages = {},
year = {2021},
note = {in press}
}</pre>
</div></li>

<!-- Item: Garske2021 -->
<li >
  <p> Garske C, Dupan S, Dyson M, Nazarpour K
  <br><b>Perception of game-based rehabilitation in upper-limb prosthetics training: a survery of users and researchers</b><br>
  <i>JMIR Serious Games</i>, 2021, in press.<br/>
  <a href="javascript:toggleBibtex('Garske2021')">[BibTeX]</a>
  <a href="https://doi.org/10.2196/23710" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Garske2021" class="bibtex noshow">
<pre>@Article{Garske2021,
author = {C. Garske, S. Dupan, M. Dyson, K. Nazarpour},
title = {Perception of game-based rehabilitation in upper-limb prosthetics training: a survery of users and researchers},
journal = {JMIR Serious Games},
volume = {},
number = {},
pages = {},
year = {2021},
note = {in press}
}</pre>
</div></li>

</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">2020</h4>

<ul class="biblist">

<!-- Item: Nazarpour2020 -->
<li >
  <p> Nazarpour K
  <br><b>A more human prosthetic hand</b><br>
  <i>Science Robotics</i>, 5(46):eabd9341, 2020.<br/>
  <a href="javascript:toggleBibtex('Nazarpour2020')">[BibTeX]</a>
  <a href="https://doi.org/10.1126/scirobotics.abd9341" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Nazarpour2020" class="bibtex noshow">
<pre>@Article{bib_Nazarpour2020,
author = {K. Nazarpour},
title = {A more human prosthetic hand},
journal = {Science Robotics},
volume = {5},
number = {46},
pages = {eabd9341},
year = {2020}
}</pre>
</div></li>

<!-- Item: Williams2020 -->
<li >
  <p> Williams I, Brunton E, Rapeaux A, Liu Y, Luan S, Nazarpour K, Constandinou TG
  <br><b>SenseBack - An implantable system for bidirectional neural interfacing</b><br>
  <i>IEEE Transactions on Biomedical Circuits and Systems</i>, 14(5):1079-1087, 2020.<br/>
  <a href="javascript:toggleBibtex('Williams2020')">[BibTeX]</a>
  <a href=" https://doi.org/10.1109/TBCAS.2020.3022839" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Williams2020" class="bibtex noshow">
<pre>@Article{Williams2020,
author = {I. Williams, E. Brunton, A. Rapeaux, Y. Liu, S. Luan, K. Nazarpour, T. G. Constandinou},
title = {SenseBack - An implantable system for bidirectional neural interfacing},
journal = {IEEE Transactions on Biomedical Circuits and Systems},
volume = {14},
number = {5},
pages = {1079-1087},
year = {2020}
}</pre>
</div></li>

<!-- Item: Islam2020 -->
<li >
  <p> Islam A, Alcock L, Nazarpour K, Rochester L, Pantall A
  <br><b>Effect of Parkinson's disease and two therapeutic interventions on muscle activity during walking: A systematic review</b><br>
  <i>npj Parkinson's Disease</i>, 6:22, 2020.<br/>
  <a href="javascript:toggleBibtex('Islam2020')">[BibTeX]</a>
  <a href="https://doi.org/10.1038/s41531-020-00119-w" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Islam2020" class="bibtex noshow">
<pre>@Article{Islam2020,
author = {A. Islam, L. Alcock, K. Nazarpour, L. Rochester, A. Pantall},
title = {Effect of Parkinson's disease and two therapeutic interventions on muscle activity during walking: A systematic review},
journal = {npj Parkinson's Disease},
volume = {6},
pages = {22},
year = {2020}
}</pre>
</div></li>

<!-- Item: Krasoulis2020 -->
<li >
  <p> Krasoulis A, Nazarpour K
  <br><b>Myoelectric digit action decoding with multi-label multi-class classification: an offline analysis</b><br>
  <i>Scientific Reports</i>, 10:16872, 2020.<br/>
  <a href="javascript:toggleBibtex('Krasoulis2020')">[BibTeX]</a>
  <a href="https://doi.org/10.1038/s41598-020-72574-7" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Krasoulis2020" class="bibtex noshow">
<pre>@Article{Krasoulis2020,
author = {A. Krasoulis and K. Nazarpour},
title = {Myoelectric digit action decoding with multi-label multi-class classification: an offline analysis},
journal = {Scientific Reports},
volume = {10},
pages = {16872},
year = {2020}
}</pre>
</div></li>

<!-- Item: Silveira2020 -->
<li >
  <p> Silveira C, Brunton E, Escobedo-Cousin E, Gupta G, Whittaker R, O'Neill A, Nazarpour K
  <br><b>W:Ti flexible transversal electrode array for peripheral nerve stimulation: a feasibility study</b><br>
  <i>IEEE Transactions on Neural Systems and Rehabilitation Engineering</i>, 28(10):2136-2143, 2020.<br/>
  <a href="javascript:toggleBibtex('Silveira2020')">[BibTeX]</a>
  <a href=" https://doi.org/10.1109/TNSRE.2020.3014812" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Silveira2020" class="bibtex noshow">
<pre>@Article{Silveira2020,
author = {C. Silveira and E. Brunton and E. {Escobedo-Cousin} and G. Gupta and R. Whittaker and A. O'Neill and K. Nazarpour},
title = {W:Ti flexible transversal electrode array for peripheral nerve stimulation: A feasibility study},
journal = {IEEE Transactions on Neural Systems and Rehabilitation Engineering},
volume = {28},
number = {10},
pages = {2136-2143},
year = {2020}
}</pre>
</div></li>

<!-- Item: Dyson2020 -->
<li >
    <p>Dyson M, Dupan S, Jones H, Nazarpour K
    <br><b>Learning, generalisation, scalability of abstract myoelectric control</b><br>
    <i>IEEE Transactions on Neural Systems and Rehabilitation Engineering</i>, 28(7):1539-1547, 2020.<br/>
    <a href="javascript:toggleBibtex('Dyson2020')">[BibTeX]</a>
    <a href=" https://doi.org/10.1109/TNSRE.2020.3000310" target="_blank">[DOI]</a> 
    </p>
    <div id="bib_Dyson2020" class="bibtex noshow">
<pre>@Article{Dyson2020,
author = {M. Dyson and S. Dupan and H. Jones and K. Nazarpour},
title = {Learning, generalisation, scalability of abstract myoelectric control},
journal = {IEEE Transactions on Neural Systems and Rehabilitation Engineering},
volume = {28},
number = {7},
pages = {1539-1547},
year = {2020}
}</pre>
  </div></li>

<!-- Item: Zuo2020b -->
<li >
  <p>Zuo S, Schmalz J, &#214zden M&#214, Gerken M, Su J, Niekiel F, Lofink F, Nazarpour K, Heidari H
  <br><b>Miniaturized magnetoelectric sensing system for ultrasensitive pico-Tesla magnetomyography</b><br>
  <i>IEEE Transactions on Biomedical Circuits and Systems</i>, 14(5):971-984, 2020.<br/>
  <a href="javascript:toggleBibtex('Zuo2020b')">[BibTeX]</a>
  <a href=" https://doi.org/10.1109/TBCAS.2020.2998290" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Zuo2020b" class="bibtex noshow">
<pre>@Article{Zuo2020b,
author = {S. Zuo and J. Schmalz and M. \"{O}. \"{O}zden and M. Gerken and J. Su and F. Niekiel and F. Lofink F and K. Nazarpour and H. Heidari},
title = {Miniaturized magnetoelectric sensing system for ultrasensitive pico-Tesla magnetomyography},
journal = {IEEE Transactions on Biomedical Circuits and Systems},
volume = {14},
number = {5},
pages = {971-984},
year = {2020}
}</pre>
</div></li>

<!-- Item: Zuo2020a -->
<li >
  <p>Zuo S, Heidari H, Farina D, Nazarpour K
  <br><b>Miniaturized magnetic sensors for implantable magnetomyography</b><br>
  <i>Advanced Materials Technologies</i>, 2020, 5:202000185.<br/>
  <a href="javascript:toggleBibtex('Zuo2020a')">[BibTeX]</a>
  <a href=" https://doi.org/10.1002/admt.202070033" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Zuo2020a" class="bibtex noshow">
<pre>@Article{Zuo2020a,
author = {S. Zuo and H. Heidari and D. Farina and K. Nazarpour},
title = {Miniaturized magnetic sensors for implantable magnetomyography},
journal = {Advanced Materials Technologies},
volume = {5},
number = {},
pages = {202000185},
year = {2020}
}</pre>
</div></li>
 
<!-- Item: Abbasi2020 -->
<li >
  <p>Abbasi A, Yazdanbakhsh F, Khaleghi Tazji H, Aghaei P, Svoda Z, Nazarpour K, Fraga Vieira M
  <br><b>A comparison of coordination and its variability in lower extremity segments during treadmill and overground running at different speeds</b><br>
  <i>Gait & Posture</i>, 2020, 79:139-144.<br/>
  <a href="javascript:toggleBibtex('Abbasi2020')">[BibTeX]</a>
  <a href="https://doi.org/10.1016/j.gaitpost.2020.04.022" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Abbasi2020" class="bibtex noshow">
<pre>@Article{Abbasi2020,
author = {A. Abbasi and F. Yazdanbakhsh and H. {Khaleghi Tazji} and P. Aghaei and Z. Svoda and K. Nazarpour and M. {Fraga Vieira}},
title = {A comparison of coordination and its variability in lower extremity segments during treadmill and overground running at different speeds},
journal = {Gait \& Posture},
volume = {79},
number = {},
pages = {139-144},
year = {2020}
}</pre>
</div></li>

<!-- Item: Blana2020 -->
<li >
  <p>Blana D, van den Bogert AJ, Murray WM, Ganguli A, Krasoulis A, Nazarpour K, Chadwick EK
  <br><b>Model-based control of individual finger movements for prosthetic hand function</b><br>
  <i>IEEE Transactions on Neural Systems and Rehabilitation Engineering</i>, 2020, 28(3):612-620.<br/>
  <a href="javascript:toggleBibtex('Blana2020')">[BibTeX]</a>
  <a href="https://doi.org/10.1109/TNSRE.2020.2967901" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Blana2020" class="bibtex noshow">
<pre>@Article{Blana2020,
author = {D. Blana and A. J. {van den Bogert}, and W. M. Murray and A. Ganguli and A. Krasoulis and K. Nazarpour and E. K. Chadwick},
title = {Model-based control of individual finger movements for prosthetic hand function},
journal = {IEEE Transactions on Neural Systems and Rehabilitation Engineering},
volume = {28},
number = {3},
pages = {612-620},
year = {2020}
}</pre>
</div></li>

<!-- Item: Krasoulis2020 -->
<li >
  <p>Krasoulis A, Vijayakumar S, Nazarpour K
  <br><b>Multi-grip classification-based prosthesis control with two EMG-IMU sensors</b><br>
  <i>IEEE Transactions on Neural Systems and Rehabilitation Engineering</i>, 2020, 28(2):508-518.<br/>
  <a href="javascript:toggleBibtex('Krasoulis2020')">[BibTeX]</a>
  <a href="https://doi.org/10.1109/TNSRE.2019.2959243" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Krasoulis2020" class="bibtex noshow">
<pre>@Article{Krasoulis2020,
author = {A. Krasoulis and S. Vijayakumar and K. Nazarpour},
title = {Multi-grip classification-based prosthesis control with two {EMG-IMU} sensors},
journal = {IEEE Transactions on Neural Systems and Rehabilitation Engineering},
volume = {28},
number = {2},
pages = {508-518},
year = {2020}
}</pre>
</div></li>

<!-- Item: Alameer2020 -->
<li >
  <p>Alameer A, Degenaar P, Nazarpour K
  <br><b>Objects and scenes classification with selective use of central and peripheral image content</b><br>
  <i>Journal of Visual Communication and Image Representation</i>, 2020, 28(2):508-518.<br/>
  <a href="javascript:toggleBibtex('Alameer2020')">[BibTeX]</a>
  <a href="https://doi.org/10.1016/j.jvcir.2019.102698" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Alameer2020" class="bibtex noshow">
<pre>@Article{Alameer2020,
author = {A. Alameer and P. Degenaar  and K. Nazarpour},
title = {Objects and scenes classification with selective use of central and peripheral image content},
journal = {Journal of Visual Communication and Image Representation},
volume = {66},
number = {},
pages = {102698},
year = {2020}
}</pre>
</div></li>

</ul >

<h4 style="margin-bottom:0px;padding-top:10px;">2019</h4>
<ul class="biblist">
<!-- Item: Krasoulis2019 -->
<li >
  <p>Krasoulis A, Vijayakumar S, Nazarpour K
  <br><b>Effect of user adaptation on prosthetic finger control with an intuitive myoelectric decoder</b><br>
  <i>Frontiers in Neuroscience</i>, 2020, 13:891.<br/>
  <a href="javascript:toggleBibtex('Krasoulis2019')">[BibTeX]</a>
  <a href="https://doi.org/10.3389/fnins.2019.00891" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Krasoulis2019" class="bibtex noshow">
<pre>@Article{Krasoulis2019,
author = {A. Krasoulis and S. Vijayakumar and K. Nazarpour},
title = {Effect of user adaptation on prosthetic finger control with an intuitive myoelectric decoder},
journal = {Frontiers in Neuroscience},
volume = {13},
number = {},
pages = {891},
year = {2019}
}</pre>
</div></li>

<!-- Item: Brunton2019 -->
<li >
  <p>Brunton EK, Silveira C, Rosenberg J, Schiefer MA, Riddell J, Nazarpour K
  <br><b>Temporal modulation of the response of sensory fibers to paired-pulse stimulation</b><br>
  <i>IEEE Transactions on Neural Systems and Rehabilitation Engineering</i>, 2019, 27(9):1676-1683.<br/>
  <a href="javascript:toggleBibtex('Brunton2019')">[BibTeX]</a>
  <a href="https://doi.org/10.1109/TNSRE.2019.2935813 " target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Brunton2019" class="bibtex noshow">
<pre>@Article{Brunton2019,
author = {E. K. Brunton and C. Silveira and J. Rosenberg and M. A. Schiefer and J. Riddell and K. Nazarpour},
title = {Temporal modulation of the response of sensory fibers to paired-pulse stimulation},
journal = {IEEE Transactions on Neural Systems and Rehabilitation Engineering},
volume = {27},
number = {9},
pages = {1676-1683},
year = {2019}
}</pre>
</div></li>

</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">2018</h4>
<ul class="biblist">


<!-- Item: Zuo2018 -->
<li >
  <p>Zuo S, Nazarpour K, Heidari H
  <br><b>Device modelling of MgO-barrier tunnelling magnetoresistors for hybrid spintronic-CMOS</b><br>
  <i>IEEE Electron Device Letters</i>, 2018, 39(11):1784-1787.<br/>
  <a href="javascript:toggleBibtex('Zuo2018')">[BibTeX]</a>
  <a href="https://doi.org/10.1109/LED.2018.2870731" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Zuo2018" class="bibtex noshow">
<pre>@Article{Zuo2018,
author = {S. Zuo and K. Nazarpour and H. Heidari},
title = {Device modelling of {MgO}-barrier tunnelling magnetoresistors for hybrid spintronic-{CMOS}},
journal = {IEEE Electron Device Letters},
volume = {39},
number = {11},
pages = {1784-1787},
year = {2018}
}</pre>
</div></li>

<!-- Item: Wang2018 -->
<li >
  <p>Wang Y, Tatinati R, Adhikari K, Huang L, Nazarpour K, Ang WT, Veluvolu KC
  <br><b>Multi-step prediction of physiological tremor with random quaternion neurons for surgical robotic applications</b><br>
  <i>IEEE Access</i>, 2018, 6:42216-42226.<br/>
  <a href="javascript:toggleBibtex('Wang2018')">[BibTeX]</a>
  <a href="https://doi.org/10.1109/ACCESS.2018.2852323" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Wang2018" class="bibtex noshow">
<pre>@Article{Wang2018,
author = {Y. Wang and R. Tatinati and K. Adhikari and L. Huang and K. Nazarpour and W. T. Ang WT and K. C. Veluvolu KC},
title = {Multi-step prediction of physiological tremor with random quaternion neurons for surgical robotic applications},
journal = {IEEE Access},
volume = {39},
number = {},
pages = {42216-42226},
year = {2018}
}</pre>
</div></li>

<!-- Item: Dyson2018 -->
<li >
  <p>Dyson M, Barnes J, Nazarpour K
  <br><b>Myoelectric control with abstract decoders</b><br>
  <i>Journal of Neural Engineering</i>, 2018, 15(5):056003.<br/>
  <a href="javascript:toggleBibtex('Dyson2018')">[BibTeX]</a>
  <a href="https://doi.org/10.1088/1741-2552/aacbfe" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Dyson2018" class="bibtex noshow">
<pre>@Article{Dyson2018,
author = {M. Dyson, J. Barnes, and K. Nazarpour},
title = {Myoelectric control with abstract decoders},
journal = {Journal of Neural Engineering},
volume = {15},
number = {5},
pages = {056003},
year = {2018}
}</pre>
</div></li>

<!-- Item: Silveira2018 -->
<li >
  <p>Silveira C, Brunton E, Spendiff S,Nazarpour K
  <br><b>Influence of nerve cuff channel count and implantation site on the separability of afferent ENG</b><br>
  <i>Journal of Neural Engineering</i>, 2018, 15(4):046004.<br/>
  <a href="javascript:toggleBibtex('Silveira2018')">[BibTeX]</a>
  <a href="https://doi.org/10.1088/1741-2552/aabca0" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Silveira2018" class="bibtex noshow">
<pre>@Article{Silveira2018,
author = {C. Silveira, E. Brunton, S. Spendiff, K. Nazarpour},
title = {Influence of nerve cuff channel count and implantation site on the separability of afferent ENG},
journal = {Journal of Neural Engineering},
volume = {15},
number = {4},
pages = {046004},
year = {2018}
}</pre>
</div></li>

<!-- Item: Abolghasemi2018 -->
<li >
  <p>Abolghasemi V, Chen M, Alameer A, Ferdowsi S, Chambers JA, Nazarpour K
  <br><b>Incoherent dictionary pair learning: Application to a novel open-source database of Chinese numbers</b><br>
  <i>IEEE Signal Processing Letters</i>, 2018, 25(4):472-476.<br/>
  <a href="javascript:toggleBibtex('Abolghasemi2018')">[BibTeX]</a>
  <a href="https://doi.org/10.1109/LSP.2018.2798406" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Abolghasemi2018" class="bibtex noshow">
<pre>@Article{Abolghasemi2018,
author = {V. Abolghasemi, M. Chen, A. Alameer, S. Ferdowsi, J. A. Chambers, K. Nazarpour},
title = {Incoherent dictionary pair learning: Application to a novel open-source database of Chinese numbers},
journal = {IEEE Signal Processing Letters},
volume = {25},
number = {4},
pages = {472-476},
year = {2018}
}</pre>
</div></li>

<!-- Item: Jones2018 -->
<li >
  <p>Jones H, Nazarpour K
  <br><b>Gaining NHS ethical approval: A biomedical engineering team perspective</b><br>
  <i>British Journal of Healthcare Management</i>, 2018, 24(2):71-76.<br/>
  <a href="javascript:toggleBibtex('Jones2018')">[BibTeX]</a>
  <a href="https://doi.org/10.12968/bjhc.2018.24.2.71" target="_blank">[DOI]</a> 
  </p>
  <div id="bib_Jones2018" class="bibtex noshow">
<pre>@Article{Jones2018,
author = {H. Jones, K. Nazarpour},
title = {Gaining NHS ethical approval: A biomedical engineering team perspective},
journal = {British Journal of Healthcare Management},
volume = {24},
number = {2},
pages = {71-76},
year = {2018}
}</pre>
</div></li>





</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">2017</h4>

<ul class="biblist">


  <!-- Item: Zuo2018 -->
  <li >
    <p>Zuo S, Nazarpour K, Heidari H
    <br><b>Device modelling of MgO-barrier tunnelling magnetoresistors for hybrid spintronic-CMOS</b><br>
    <i>IEEE Electron Device Letters</i>, 2018, 39(11):1784-1787.<br/>
    <a href="javascript:toggleBibtex('Zuo2018')">[BibTeX]</a>
    <a href="https://doi.org/10.1109/LED.2018.2870731" target="_blank">[DOI]</a> 
    </p>
    <div id="bib_Zuo2018" class="bibtex noshow">
  <pre>@Article{Zuo2018,
  author = {S. Zuo and K. Nazarpour and H. Heidari},
  title = {Device modelling of {MgO}-barrier tunnelling magnetoresistors for hybrid spintronic-{CMOS}},
  journal = {IEEE Electron Device Letters},
  volume = {39},
  number = {11},
  pages = {1784-1787},
  year = {2018}
  }</pre>
  </div></li>
  
  <!-- Item: Wang2018 -->
  <li >
    <p>Wang Y, Tatinati R, Adhikari K, Huang L, Nazarpour K, Ang WT, Veluvolu KC
    <br><b>Multi-step prediction of physiological tremor with random quaternion neurons for surgical robotic applications</b><br>
    <i>IEEE Access</i>, 2018, 6:42216-42226.<br/>
    <a href="javascript:toggleBibtex('Wang2018')">[BibTeX]</a>
    <a href="https://doi.org/10.1109/ACCESS.2018.2852323" target="_blank">[DOI]</a> 
    </p>
    <div id="bib_Wang2018" class="bibtex noshow">
  <pre>@Article{Wang2018,
  author = {Y. Wang and R. Tatinati and K. Adhikari and L. Huang and K. Nazarpour and W. T. Ang WT and K. C. Veluvolu KC},
  title = {Multi-step prediction of physiological tremor with random quaternion neurons for surgical robotic applications},
  journal = {IEEE Access},
  volume = {39},
  number = {},
  pages = {42216-42226},
  year = {2018}
  }</pre>
  </div></li>
  
  <!-- Item: Dyson2018 -->
  <li >
    <p>Dyson M, Barnes J, Nazarpour K
    <br><b>Myoelectric control with abstract decoders</b><br>
    <i>Journal of Neural Engineering</i>, 2018, 15(5):056003.<br/>
    <a href="javascript:toggleBibtex('Dyson2018')">[BibTeX]</a>
    <a href="https://doi.org/10.1088/1741-2552/aacbfe" target="_blank">[DOI]</a> 
    </p>
    <div id="bib_Dyson2018" class="bibtex noshow">
  <pre>@Article{Dyson2018,
  author = {M. Dyson, J. Barnes, and K. Nazarpour},
  title = {Myoelectric control with abstract decoders},
  journal = {Journal of Neural Engineering},
  volume = {15},
  number = {5},
  pages = {056003},
  year = {2018}
  }</pre>
  </div></li>
  
  <!-- Item: Silveira2018 -->
  <li >
    <p>Silveira C, Brunton E, Spendiff S,Nazarpour K
    <br><b>Influence of nerve cuff channel count and implantation site on the separability of afferent ENG</b><br>
    <i>Journal of Neural Engineering</i>, 2018, 15(4):046004.<br/>
    <a href="javascript:toggleBibtex('Silveira2018')">[BibTeX]</a>
    <a href="https://doi.org/10.1088/1741-2552/aabca0" target="_blank">[DOI]</a> 
    </p>
    <div id="bib_Silveira2018" class="bibtex noshow">
  <pre>@Article{Silveira2018,
  author = {C. Silveira, E. Brunton, S. Spendiff, K. Nazarpour},
  title = {Influence of nerve cuff channel count and implantation site on the separability of afferent ENG},
  journal = {Journal of Neural Engineering},
  volume = {15},
  number = {4},
  pages = {046004},
  year = {2018}
  }</pre>
  </div></li>
  
  <!-- Item: Abolghasemi2018 -->
  <li >
    <p>Abolghasemi V, Chen M, Alameer A, Ferdowsi S, Chambers JA, Nazarpour K
    <br><b>Incoherent dictionary pair learning: Application to a novel open-source database of Chinese numbers</b><br>
    <i>IEEE Signal Processing Letters</i>, 2018, 25(4):472-476.<br/>
    <a href="javascript:toggleBibtex('Abolghasemi2018')">[BibTeX]</a>
    <a href="https://doi.org/10.1109/LSP.2018.2798406" target="_blank">[DOI]</a> 
    </p>
    <div id="bib_Abolghasemi2018" class="bibtex noshow">
  <pre>@Article{Abolghasemi2018,
  author = {V. Abolghasemi, M. Chen, A. Alameer, S. Ferdowsi, J. A. Chambers, K. Nazarpour},
  title = {Incoherent dictionary pair learning: Application to a novel open-source database of Chinese numbers},
  journal = {IEEE Signal Processing Letters},
  volume = {25},
  number = {4},
  pages = {472-476},
  year = {2018}
  }</pre>
  </div></li>
  
  <!-- Item: Brunton2017 -->
  <li >
    <p>Brunton E, Blau CW, Nazarpour K
    <br><b>Separability of neural responses to standardised mechanical stimulation of limbs</b><br>
    <i>Scientific Reports</i>, 2017, 7:11138.<br/>
    <a href="javascript:toggleBibtex('Brunton2017')">[BibTeX]</a>
    <a href="https://doi.org/10.1038/s41598-017-11349-z" target="_blank">[DOI]</a> 
    </p>
    <div id="bib_Brunton2017" class="bibtex noshow">
  <pre>@Article{Brunton2017,
  author = {E Brunton, CW Blau, K Nazarpour},
  title = {Separability of neural responses to standardised mechanical stimulation of limbs},
  journal = {Scientific Reports},
  volume = {7},
  pages = {11138},
  year = {2017}
  }</pre>
  </div></li>  
  </ul>

    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>