<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    {{ content }}
    
    Here is a summary of my research interests. If you would like to join my research group, as PhD 
    student or Independent researcher, please email your CV and research statement. All vacancies 
    will be advertised here.


    <h4 style="margin-bottom:0px;padding-top:10px;">Neurotechnology</h4>
    <p align="left"> Acquiring a new skill, for example learning to use chopsticks, requires accurate motor commands 
    to be sent from the brain to the hand, and reliable sensory feedback from the hand to the brain. 
    Over time and with training, the brain learns to handle this two-way communication flexibly and 
    efficiently. Inspired by this sensorimotor interplay, my research is guided by a conviction that 
    progress in prosthetic limb control is best achieved through a strong synergy of motor learning and 
    sensory feedback. 
    </p>

    
    <p align="left"> I study the interaction of neural and behavioural processes that control the hand movements to 
    ultimately innovate prosthetic control solutions that users would find fit for purpose. </p>

    <hr>
    <h4 style="margin-bottom:0px;padding-top:10px;">Human-in-the-loop Machine Learning</h4>
    Detail to appear.
    <hr>
    <h4 style="margin-bottom:0px;padding-top:10px;">Health Data</h4>
    Detail to appear.
   
    <p align="left">&#8226 Research Associate in <strong>Data Sciences</strong>.</p>

     
      
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>