<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    {{ content }}
    
    
    <h4 style="margin-bottom:0px;padding-top:10px;">Vacancies</h4>    
    
    <li>
      <p> <b>Research Associate in Machine Learning for Upper-limb Prostethics</b><br>
        Opening soon in April/May 2021<br/>
        <a href="mailto:kianoush.nazarpour@ed.ac.uk" target="_blank">Please contact!</a> 
        </p>
     </li>
    
    <li>
      <p> <b><strike>Research Associate in Sensory Feedback for Upper-limb Prostethics</strike></b><br>
        Deadline: March 19, 2021<br/>
        <a href="https://elxw.fa.em3.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX_1001/job/206/?utm_medium=jobshare" target="_blank">Apply!</a> 
        </p>
     </li>
    <li>
      <p> <b><strike>PhD Student in Machine Learning for Prosthetics</strike></b><br>
      Deadline: Jan 15, 2021<br/>
      <a href="https://www.findaphd.com/phds/project/machine-learning-and-data-fusion-algorithms-for-characterisation-of-muscle-activity-towards-myoelectric-prosthesis-control/?p126306" target="_blank">Apply!</a> 
      </p>
    </li>
    
    <li>
      <p> <b><strike>Research Associate in Upper-limb Prostethics</strike></b><br>
        Deadline: Jan 5, 2021<br/>
        <a href="https://elxw.fa.em3.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX_1001/job/206/?utm_medium=jobshare" target="_blank">Apply!</a> 
        </p>
     </li>

    <li>
      <p> <b><strike>Marie Curie ITN Early-Stage Researcher</strike></b><br>
        Deadline: November 14, 2020<br/>
        <a href="https://www.jobs.ac.uk/job/CCA608/marie-curie-itn-early-stage-researcher" target="_blank">Apply!</a> 
      </p>
    </li>
    <li>
      <p> <b><strike>Research Associate in Data Science</strike></b><br>
      Deadline: October 15, 2020<br/>
      <a href="https://www.jobs.ac.uk/job/CBO071/research-associate-in-data-sciences" target="_blank">Apply!</a> 
      </p>
    </li>
     
      
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>